.app-header {
  height: 65px;
  background: #fff;
  border-radius: 14px;
  margin: 20px 20px 0 20px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.header-toggle-btn {
  width: 45px;
  height: 45px;
  border-radius: 12px;
  border: none;
  background: #f4f4f4;
  font-size: 1.4rem;
  cursor: pointer;
}
